<h1>list</h1>

<select #selectL multiple size="17" style="width: 150px;">
  <option *ngFor='let d1 of dados1; let i = index' [value]="i" >{{ d1 }}</option>
</select>

<button (click)="onetotwo(selectL.value)">>>></button>
<button (click)="onetotwo(selectL.value)">></button>
<button (click)="twotoone(selectR.value)"><</button>
<button (click)="twotoone(selectR.value)"><<<</button>
<button (click)="verification()">verificar</button>

<select #selectR multiple size="17" style="width: 150px;">
  <option *ngFor='let d2 of dados2; let i = index' [value]="i">{{ d2 }}</option>
</select>